In [1]:
import snscrape.modules.twitter as sntwitter
from datetime import date, timedelta
import pandas as pd
import time
import os
import itertools
import numpy as np
print("Done")

Done

In [2]:
df_Cities=pd.read_csv('uscities.csv')
df_Cities.head()
print(df_Cities['state_id'].unique())

['CA' 'WA' 'DE' 'DC' 'WI' 'WV' 'HI' 'FL' 'WY' 'NH' 'NJ' 'NM' 'TX' 'LA'
 'AK' 'NC' 'ND' 'NE' 'TN' 'NY' 'PA' 'RI' 'NV' 'VA' 'CO' 'AL' 'AR' 'VT'
 'IL' 'GA' 'IN' 'IA' 'MA' 'AZ' 'ID' 'CT' 'ME' 'MD' 'OK' 'OH' 'UT' 'MO'
 'MN' 'MI' 'KS' 'MT' 'MS' 'PR' 'SC' 'KY' 'OR' 'SD']

In [3]:
#screening out all cities with more than 100k population 
df_Ci10K=df_Cities[df_Cities['population']>100000]
print(df_Ci10K.shape[0])
print(len(df_Ci10K['state_id'].unique()))#no city in WY is more than 100k population
print(df_Ci10K['state_id'].value_counts())

451
51
CA    88
TX    43
FL    36
NC    16
CO    14
NY    14
WA    14
VA    12
AZ    12
MI    12
IL    11
PA    10
GA     9
OH     9
NV     9
MA     8
SC     8
LA     8
WI     8
TN     8
UT     7
CT     7
OR     7
IN     7
NJ     6
IA     6
AL     5
MN     5
MD     5
KS     5
MO     5
PR     4
OK     4
NM     3
AR     3
ID     3
NH     2
NE     2
WV     2
KY     2
MS     2
RI     1
ME     1
DE     1
DC     1
AK     1
VT     1
ND     1
MT     1
HI     1
SD     1
Name: state_id, dtype: int64

In [4]:
within='15mi'
print(within)
#maxt=10000
# 47 states except CA,TX, FL
us47_1=['WA', 'DE', 'DC', 'WI', 'WV', 'HI', 'NH', 'NJ', 'NM', 'LA', 'AK',
 'NC', 'ND', 'NE', 'TN', 'NY', 'PA', 'RI', 'NV', 'VA', 'CO', 'AL', 'AR', 'VT', 'IL',
 'GA', 'IN', 'IA', 'MA', 'AZ', 'ID', 'CT', 'ME', 'MD', 'OK', 'OH', 'UT', 'MO', 'MN',
 'MI', 'KS', 'MT', 'MS', 'PR', 'SC', 'KY', 'OR', 'SD']
print(us47_1)
columns=['url',
        'date',
                  'content',
                  'tweet.id',
                  'tweet.username', 
                  'tweet.outlinks',
                  'tweet.outlinksss',
                  'tweet.tcooutlinks',
                  'tweet.tcooutlinksss',
                  'lat',
                  'lng',
                  'city',
                  'state_id',
                  'state_name',
                  'cid']
print(columns)

15mi
['WA', 'DE', 'DC', 'WI', 'WV', 'HI', 'NH', 'NJ', 'NM', 'LA', 'AK', 'NC', 'ND', 'NE', 'TN', 'NY', 'PA', 'RI', 'NV', 'VA', 'CO', 'AL', 'AR', 'VT', 'IL', 'GA', 'IN', 'IA', 'MA', 'AZ', 'ID', 'CT', 'ME', 'MD', 'OK', 'OH', 'UT', 'MO', 'MN', 'MI', 'KS', 'MT', 'MS', 'PR', 'SC', 'KY', 'OR', 'SD']
['url', 'date', 'content', 'tweet.id', 'tweet.username', 'tweet.outlinks', 'tweet.outlinksss', 'tweet.tcooutlinks', 'tweet.tcooutlinksss', 'lat', 'lng', 'city', 'state_id', 'state_name', 'cid']

In [5]:
###US states except CA, TX, FL
df_us47_1=pd.DataFrame(columns=columns)

j=1
s=1
for state in us47_1:
    print(20*'--','s=',s,'state=',state,20*'--')

    for i in df_Ci10K[df_Ci10K['state_id']==state].index:

        cood=str(df_Ci10K.loc[i,'lat'])+','+str(df_Ci10K.loc[i,'lng'])+','+str(within)   

        lat=df_Ci10K.loc[i,'lat']
        lng=df_Ci10K.loc[i,'lng']
        city=df_Ci10K.loc[i,'city']
        state_id=df_Ci10K.loc[i,'state_id'],
        state_name=df_Ci10K.loc[i,'state_name']
        cid=df_Ci10K.loc[i,'id']

        lst=[]

        for x, tweet in enumerate(sntwitter.TwitterSearchScraper('(airbnb) OR (hotel) OR (hostel) since:2019-01-01 until:2021-06-30 geocode:"{}"'.format(cood)).get_items()):
            if tweet.id not in df_us47_1['tweet.id'].values:

                lst=[{'url':tweet.url,
                      'date':tweet.date.strftime("%Y-%m-%d %H:%M"),
                      'content':tweet.content,
                      'tweet.id':tweet.id,
                      'tweet.username':tweet.username, 
                      'tweet.outlinks':tweet.outlinks,
                      'tweet.outlinksss':tweet.outlinksss,
                      'tweet.tcooutlinks':tweet.tcooutlinks,
                      'tweet.tcooutlinksss':tweet.tcooutlinksss,
                      'lat':lat,
                      'lng':lng,
                      'city':city,
                      'state_id':state_id,
                      'state_name':state_name,
                      'cid':cid}]
                
                df_us47_1=df_us47_1.append(lst)

        print(i,'\t',df_us47_1.shape[0],'\t',j,'\t',df_Ci10K.loc[i,'city'],'\t',cood,'\t','Done') 

        if (j/3).is_integer():

            df_us47_1.to_csv('text-airbnb+hotel+hostel-tweets_us_2.csv', sep=',', index=False)
            print('top ',j,' cities saved')

        j+=1
    s+=1

df_us47_1.to_csv('text-airbnb+hotel+hostel-tweets_us_2.csv', sep=',', index=False)
print('Done')

---------------------------------------- s= 1 state= WA ----------------------------------------
1 	 4897 	 1 	 Seattle 	 47.6211,-122.3244,15mi 	 Done
15 	 5249 	 2 	 Spokane 	 47.6671,-117.43299999999999,15mi 	 Done
30 	 5348 	 3 	 Kennewick 	 46.1979,-119.1732,15mi 	 Done
top  3  cities saved
33 	 5500 	 4 	 Bremerton 	 47.5436,-122.7121,15mi 	 Done
34 	 6183 	 5 	 Tacoma 	 47.2431,-122.4531,15mi 	 Done
40 	 6428 	 6 	 Olympia 	 47.0417,-122.8959,15mi 	 Done
top  6  cities saved
47 	 9721 	 7 	 Vancouver 	 45.6367,-122.59700000000001,15mi 	 Done
52 	 9992 	 8 	 Marysville 	 48.081,-122.1558,15mi 	 Done
60 	 10364 	 9 	 Bellevue 	 47.5953,-122.155,15mi 	 Done
top  9  cities saved
67 	 10424 	 10 	 Yakima 	 46.5923,-120.5496,15mi 	 Done
68 	 10466 	 11 	 Kent 	 47.3887,-122.2128,15mi 	 Done
71 	 10649 	 12 	 Bellingham 	 48.7543,-122.4687,15mi 	 Done
top  12  cities saved
86 	 10724 	 13 	 Everett 	 47.9524,-122.167,15mi 	 Done
100 	 10724 	 14 	 Renton 	 47.4758,-122.1905,15mi 	 Done
---------------------------------------- s= 2 state= DE ----------------------------------------
696 	 10978 	 15 	 Dover 	 39.161,-75.5203,15mi 	 Done
top  15  cities saved
---------------------------------------- s= 3 state= DC ----------------------------------------
697 	 24505 	 16 	 Washington 	 38.9047,-77.0163,15mi 	 Done
---------------------------------------- s= 4 state= WI ----------------------------------------
909 	 24592 	 17 	 Appleton 	 44.2774,-88.3894,15mi 	 Done
961 	 24776 	 18 	 Green Bay 	 44.515,-87.9896,15mi 	 Done
top  18  cities saved
1010 	 25090 	 19 	 Madison 	 43.0827,-89.3923,15mi 	 Done
1105 	 25231 	 20 	 Kenosha 	 42.5864,-87.8762,15mi 	 Done
1116 	 25270 	 21 	 Racine 	 42.7274,-87.8135,15mi 	 Done
top  21  cities saved
1150 	 27005 	 22 	 Milwaukee 	 43.0642,-87.9673,15mi 	 Done
1259 	 27116 	 23 	 La Crosse 	 43.8241,-91.2268,15mi 	 Done
1340 	 27226 	 24 	 Eau Claire 	 44.82,-91.4951,15mi 	 Done
top  24  cities saved
---------------------------------------- s= 5 state= WV ----------------------------------------
1608 	 27494 	 25 	 Charleston 	 38.3484,-81.6323,15mi 	 Done
1798 	 27617 	 26 	 Huntington 	 38.4109,-82.4344,15mi 	 Done
---------------------------------------- s= 6 state= HI ----------------------------------------
1873 	 31097 	 27 	 Honolulu 	 21.3294,-157.846,15mi 	 Done
top  27  cities saved
---------------------------------------- s= 7 state= NH ----------------------------------------
3157 	 31164 	 28 	 Manchester 	 42.9848,-71.4447,15mi 	 Done
3166 	 31347 	 29 	 Nashua 	 42.7491,-71.491,15mi 	 Done
---------------------------------------- s= 8 state= NJ ----------------------------------------
3174 	 31375 	 30 	 Trenton 	 40.2236,-74.7641,15mi 	 Done
top  30  cities saved
3211 	 60609 	 31 	 Elizabeth 	 40.6657,-74.1912,15mi 	 Done

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.7161%2C-74.0683%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgLXpz9iksB4WhIC-5f2MsJEnEnEVjIRUFYCJehgHREVGQVVMVDUBFbAYFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ReadTimeout(ReadTimeoutError("HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=10)")), retrying

3295 	 65374 	 32 	 Jersey City 	 40.7161,-74.0683,15mi 	 Done
3314 	 65438 	 33 	 Newark 	 40.7245,-74.1725,15mi 	 Done
top  33  cities saved
3361 	 68679 	 34 	 Atlantic City 	 39.3797,-74.4527,15mi 	 Done
3463 	 69221 	 35 	 Paterson 	 40.9147,-74.1624,15mi 	 Done
---------------------------------------- s= 9 state= NM ----------------------------------------
3742 	 70318 	 36 	 Albuquerque 	 35.1053,-106.6464,15mi 	 Done
top  36  cities saved
3851 	 70473 	 37 	 Las Cruces 	 32.3265,-106.7893,15mi 	 Done
4102 	 70809 	 38 	 Santa Fe 	 35.6619,-105.9819,15mi 	 Done
---------------------------------------- s= 10 state= LA ----------------------------------------
5885 	 77542 	 39 	 New Orleans 	 30.0687,-89.9288,15mi 	 Done
top  39  cities saved
5942 	 78733 	 40 	 Baton Rouge 	 30.4419,-91.131,15mi 	 Done
5992 	 78860 	 41 	 Metairie 	 29.9976,-90.1781,15mi 	 Done
5995 	 78932 	 42 	 Houma 	 29.5799,-90.7058,15mi 	 Done
top  42  cities saved
6150 	 79040 	 43 	 Monroe 	 32.5183,-92.0775,15mi 	 Done
6201 	 79378 	 44 	 Lafayette 	 30.2084,-92.0323,15mi 	 Done
6237 	 79886 	 45 	 Shreveport 	 32.4659,-93.7959,15mi 	 Done
top  45  cities saved
6254 	 80429 	 46 	 Lake Charles 	 30.2022,-93.2141,15mi 	 Done
---------------------------------------- s= 11 state= AK ----------------------------------------
6624 	 80434 	 47 	 Anchorage 	 61.1508,-149.1091,15mi 	 Done
---------------------------------------- s= 12 state= NC ----------------------------------------
6696 	 81186 	 48 	 High Point 	 35.9905,-79.9937,15mi 	 Done
top  48  cities saved
6727 	 81846 	 49 	 Concord 	 35.3932,-80.6363,15mi 	 Done
6757 	 81864 	 50 	 Greenville 	 35.5956,-77.3768,15mi 	 Done
6858 	 81928 	 51 	 Burlington 	 36.0762,-79.4687,15mi 	 Done
top  51  cities saved
6883 	 83916 	 52 	 Durham 	 35.9795,-78.9032,15mi 	 Done
6912 	 83944 	 53 	 Hickory 	 35.7426,-81.32300000000001,15mi 	 Done
6917 	 84392 	 54 	 Cary 	 35.7817,-78.8175,15mi 	 Done
top  54  cities saved
6919 	 84417 	 55 	 Raleigh 	 35.8324,-78.6438,15mi 	 Done
7017 	 84569 	 56 	 Wilmington 	 34.2101,-77.88600000000001,15mi 	 Done
7074 	 85131 	 57 	 Asheville 	 35.5704,-82.5537,15mi 	 Done
top  57  cities saved
7152 	 87409 	 58 	 Charlotte 	 35.2079,-80.8304,15mi 	 Done
7186 	 87433 	 59 	 Jacksonville 	 34.7287,-77.39399999999999,15mi 	 Done
7223 	 87649 	 60 	 Fayetteville 	 35.0846,-78.9776,15mi 	 Done
top  60  cities saved
7281 	 87749 	 61 	 Winston-Salem 	 36.1029,-80.26100000000001,15mi 	 Done
7368 	 87810 	 62 	 Gastonia 	 35.2494,-81.1853,15mi 	 Done
7383 	 87952 	 63 	 Greensboro 	 36.0956,-79.8268,15mi 	 Done
top  63  cities saved
---------------------------------------- s= 13 state= ND ----------------------------------------

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2246.8653%2C-96.8292%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAwLaB_b34yx4WgsC-qdjOkYsnEnEV3Ox5FYCJehgHREVGQVVMVDUBFRAVAAA%3D&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ReadTimeout(ReadTimeoutError("HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=10)")), retrying

7546 	 88160 	 64 	 Fargo 	 46.8653,-96.8292,15mi 	 Done
---------------------------------------- s= 14 state= NE ----------------------------------------
8204 	 89070 	 65 	 Omaha 	 41.2628,-96.0498,15mi 	 Done
8274 	 89423 	 66 	 Lincoln 	 40.8088,-96.6796,15mi 	 Done
top  66  cities saved
---------------------------------------- s= 15 state= TN ----------------------------------------
8442 	 89581 	 67 	 Kingsport 	 36.5224,-82.5452,15mi 	 Done
8463 	 89685 	 68 	 Clarksville 	 36.5696,-87.3428,15mi 	 Done
8560 	 89931 	 69 	 Murfreesboro 	 35.8493,-86.4117,15mi 	 Done
top  69  cities saved
8569 	 90502 	 70 	 Knoxville 	 35.9692,-83.9496,15mi 	 Done
8636 	 90541 	 71 	 Johnson City 	 36.3406,-82.3803,15mi 	 Done
8656 	 91025 	 72 	 Chattanooga 	 35.0657,-85.2487,15mi 	 Done
top  72  cities saved
8671 	 95664 	 73 	 Nashville 	 36.1715,-86.7843,15mi 	 Done
8810 	 97322 	 74 	 Memphis 	 35.1046,-89.9773,15mi 	 Done
---------------------------------------- s= 16 state= NY ----------------------------------------
8820 	 98658 	 75 	 New York 	 40.6943,-73.9249,15mi 	 Done
top  75  cities saved
8821 	 98664 	 76 	 Brooklyn 	 40.6501,-73.9496,15mi 	 Done
8822 	 99405 	 77 	 Queens 	 40.7498,-73.7976,15mi 	 Done
8823 	 99414 	 78 	 Manhattan 	 40.7834,-73.9662,15mi 	 Done
top  78  cities saved
8824 	 99614 	 79 	 Bronx 	 40.8501,-73.8662,15mi 	 Done
8825 	 101074 	 80 	 Buffalo 	 42.9017,-78.8487,15mi 	 Done
8826 	 101585 	 81 	 Rochester 	 43.168,-77.6162,15mi 	 Done
top  81  cities saved
8827 	 102016 	 82 	 Albany 	 42.6664,-73.7987,15mi 	 Done

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.5834%2C-74.1496%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaCwL2Jv72jlR8WhIC-5f2MsJEnEnEV_JBrFYCJehgHREVGQVVMVDUBFcwJFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ReadTimeout(ReadTimeoutError("HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=10)")), retrying

8828 	 102148 	 83 	 Staten Island 	 40.5834,-74.1496,15mi 	 Done
8829 	 102615 	 84 	 Syracuse 	 43.0409,-76.1438,15mi 	 Done
top  84  cities saved
8830 	 102643 	 85 	 Poughkeepsie 	 41.6949,-73.921,15mi 	 Done
8831 	 102783 	 86 	 Yonkers 	 40.9466,-73.8674,15mi 	 Done
8832 	 102802 	 87 	 Binghamton 	 42.1014,-75.9093,15mi 	 Done
top  87  cities saved
8833 	 102920 	 88 	 Utica 	 43.0961,-75.226,15mi 	 Done
---------------------------------------- s= 17 state= PA ----------------------------------------
10109 	 103054 	 89 	 Scranton 	 41.4044,-75.6649,15mi 	 Done
10252 	 103437 	 90 	 Harrisburg 	 40.2752,-76.8843,15mi 	 Done
top  90  cities saved
10478 	 105803 	 91 	 Pittsburgh 	 40.4396,-79.9763,15mi 	 Done
10771 	 105915 	 92 	 Erie 	 42.1168,-80.0733,15mi 	 Done
10834 	 106212 	 93 	 Lancaster 	 40.042,-76.3012,15mi 	 Done
top  93  cities saved
10939 	 106943 	 94 	 Reading 	 40.34,-75.9267,15mi 	 Done
10988 	 107512 	 95 	 Allentown 	 40.5961,-75.4755,15mi 	 Done

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.0077%2C-75.1339%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgLa10Nmv0iAWgsC5ibyglpEnEnEV3Mt1FYCJehgHREVGQVVMVDUBFfACFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ReadTimeout(ReadTimeoutError("HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=10)")), retrying
Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.0077%2C-75.1339%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgKOlyaqYwSAWgsC5ibyglpEnEnEVjLx1FYCJehgHREVGQVVMVDUBFfoCFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ConnectionError(MaxRetryError("HTTPSConnectionPool(host='api.twitter.com', port=443): Max retries exceeded with url: /2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.0077%2C-75.1339%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgKOlyaqYwSAWgsC5ibyglpEnEnEVjLx1FYCJehgHREVGQVVMVDUBFfoCFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000018522891FC8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))")), retrying
Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.0077%2C-75.1339%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgKOlyaqYwSAWgsC5ibyglpEnEnEVjLx1FYCJehgHREVGQVVMVDUBFfoCFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ConnectionError(MaxRetryError("HTTPSConnectionPool(host='api.twitter.com', port=443): Max retries exceeded with url: /2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.0077%2C-75.1339%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgKOlyaqYwSAWgsC5ibyglpEnEnEVjLx1FYCJehgHREVGQVVMVDUBFfoCFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000018522EBF708>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))")), retrying
Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.0077%2C-75.1339%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgKOlyaqYwSAWgsC5ibyglpEnEnEVjLx1FYCJehgHREVGQVVMVDUBFfoCFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ConnectionError(MaxRetryError("HTTPSConnectionPool(host='api.twitter.com', port=443): Max retries exceeded with url: /2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2240.0077%2C-75.1339%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgKOlyaqYwSAWgsC5ibyglpEnEnEVjLx1FYCJehgHREVGQVVMVDUBFfoCFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000185225D7C88>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))")), retrying

11154 	 113408 	 96 	 Philadelphia 	 40.0077,-75.1339,15mi 	 Done
top  96  cities saved
11561 	 113464 	 97 	 York 	 39.9651,-76.7315,15mi 	 Done
11610 	 113544 	 98 	 Pottstown 	 40.2507,-75.6444,15mi 	 Done
---------------------------------------- s= 18 state= RI ----------------------------------------
11641 	 114503 	 99 	 Providence 	 41.823,-71.4187,15mi 	 Done
top  99  cities saved
---------------------------------------- s= 19 state= NV ----------------------------------------
11661 	 140280 	 100 	 Henderson 	 36.0146,-115.0362,15mi 	 Done
11663 	 143059 	 101 	 North Las Vegas 	 36.288000000000004,-115.0901,15mi 	 Done
11681 	 143160 	 102 	 Enterprise 	 36.0163,-115.2207,15mi 	 Done
top  102  cities saved
11695 	 143160 	 103 	 Paradise 	 36.0807,-115.1369,15mi 	 Done
11708 	 144069 	 104 	 Reno 	 39.5497,-119.8483,15mi 	 Done
11710 	 144069 	 105 	 Spring Valley 	 36.0987,-115.2619,15mi 	 Done
top  105  cities saved
11718 	 144090 	 106 	 Sparks 	 39.5729,-119.7157,15mi 	 Done
11731 	 144093 	 107 	 Las Vegas 	 36.2333,-115.2654,15mi 	 Done
11747 	 144094 	 108 	 Sunrise Manor 	 36.1785,-115.04899999999999,15mi 	 Done
top  108  cities saved
---------------------------------------- s= 20 state= VA ----------------------------------------

KeyboardInterrupt:

In [20]:
#print(df_us47_1['city'].unique())
#df_us47_2=df_us47_1[df_us47_1.city !='Avondale']
#print(df_us47_2.shape)
#df_us47_2.to_csv('text-airbnb+hotel+hoster-tweets_us47_1.csv', sep=',', index=False)
#print('Done')

0     Seattle
0     Seattle
0     Seattle
0     Seattle
0     Seattle
       ...
0    Avondale
0    Avondale
0    Avondale
0    Avondale
0    Avondale
Name: city, Length: 176278, dtype: object
(175355, 15)
Done

In [5]:
df_us47_2=pd.read_csv('text-airbnb+hotel+hostel-tweets_us_2.csv')
df_us47_2.shape

(144094, 15)

In [6]:
#continue scraping from VA
us47_2=[#'WA', 'DE', 'DC', 'WI', 'WV', 'HI', 'NH', 'NJ', 'NM', 'LA', 'AK','NC', 'ND', 'NE', 'TN', 'NY', 'PA', 'RI', 'NV', 
    'VA', 'CO', 'AL', 'AR', 'VT', 'IL',
 'GA', 'IN', 'IA', 'MA', 'AZ', 'ID', 'CT', 'ME', 'MD', 'OK', 'OH', 'UT', 'MO', 'MN',
 'MI', 'KS', 'MT', 'MS', 'PR', 'SC', 'KY', 'OR', 'SD']
print(us47_2)

['VA', 'CO', 'AL', 'AR', 'VT', 'IL', 'GA', 'IN', 'IA', 'MA', 'AZ', 'ID', 'CT', 'ME', 'MD', 'OK', 'OH', 'UT', 'MO', 'MN', 'MI', 'KS', 'MT', 'MS', 'PR', 'SC', 'KY', 'OR', 'SD']

In [7]:
j=109
s=20
for state in us47_2:
    print(20*'--','s=',s,'state=',state,20*'--')

    for i in df_Ci10K[df_Ci10K['state_id']==state].index:

        cood=str(df_Ci10K.loc[i,'lat'])+','+str(df_Ci10K.loc[i,'lng'])+','+str(within)   

        lat=df_Ci10K.loc[i,'lat']
        lng=df_Ci10K.loc[i,'lng']
        city=df_Ci10K.loc[i,'city']
        state_id=df_Ci10K.loc[i,'state_id'],
        state_name=df_Ci10K.loc[i,'state_name']
        cid=df_Ci10K.loc[i,'id']

        lst=[]

        for x, tweet in enumerate(sntwitter.TwitterSearchScraper('(airbnb) OR (hotel) OR (hostel) since:2019-01-01 until:2021-06-30 geocode:"{}"'.format(cood)).get_items()):
            if tweet.id not in df_us47_2['tweet.id'].values:

                lst=[{'url':tweet.url,
                      'date':tweet.date.strftime("%Y-%m-%d %H:%M"),
                      'content':tweet.content,
                      'tweet.id':tweet.id,
                      'tweet.username':tweet.username, 
                      'tweet.outlinks':tweet.outlinks,
                      'tweet.outlinksss':tweet.outlinksss,
                      'tweet.tcooutlinks':tweet.tcooutlinks,
                      'tweet.tcooutlinksss':tweet.tcooutlinksss,
                      'lat':lat,
                      'lng':lng,
                      'city':city,
                      'state_id':state_id,
                      'state_name':state_name,
                      'cid':cid}]
                
                df_us47_2=df_us47_2.append(lst)

        print(i,'\t',df_us47_2.shape[0],'\t',j,'\t',df_Ci10K.loc[i,'city'],'\t',cood,'\t','Done') 

        if (j/3).is_integer():

            df_us47_2.to_csv('text-airbnb+hotel+hostel-tweets_us_2.csv', sep=',', index=False)
            print('top ',j,' cities saved')

        j+=1
    s+=1

df_us47_2.to_csv('text-airbnb+hotel+hostel-tweets_us_2.csv', sep=',', index=False)
print('Done')

---------------------------------------- s= 20 state= VA ----------------------------------------
11876 	 145056 	 109 	 Chesapeake 	 36.6778,-76.3024,15mi 	 Done
11974 	 145498 	 110 	 Newport News 	 37.1051,-76.5185,15mi 	 Done
12081 	 146096 	 111 	 Norfolk 	 36.8945,-76.259,15mi 	 Done
top  111  cities saved
12088 	 146371 	 112 	 Roanoke 	 37.2785,-79.958,15mi 	 Done
12090 	 146533 	 113 	 Alexandria 	 38.8185,-77.0861,15mi 	 Done
12112 	 146659 	 114 	 Charlottesville 	 38.0375,-78.4855,15mi 	 Done
top  114  cities saved

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2238.8786%2C-77.1011%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgLaV69ilniAWisCw8aGBqJEnEnEViNFvFYCJehgHREVGQVVMVDUBFdwGFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: non-200 status code, retrying

12126 	 146855 	 115 	 Arlington 	 38.8786,-77.1011,15mi 	 Done
12199 	 146942 	 116 	 Fredericksburg 	 38.2992,-77.4872,15mi 	 Done
12220 	 146953 	 117 	 Hampton 	 37.0551,-76.3629,15mi 	 Done
top  117  cities saved
12233 	 148120 	 118 	 Richmond 	 37.5295,-77.4756,15mi 	 Done
12274 	 148223 	 119 	 Lynchburg 	 37.4003,-79.1909,15mi 	 Done
12320 	 148224 	 120 	 Virginia Beach 	 36.7335,-76.0435,15mi 	 Done
top  120  cities saved
---------------------------------------- s= 21 state= CO ----------------------------------------
12377 	 151633 	 121 	 Aurora 	 39.7084,-104.7274,15mi 	 Done
12400 	 152148 	 122 	 Denver 	 39.7621,-104.8759,15mi 	 Done
12411 	 152252 	 123 	 Grand Junction 	 39.0877,-108.5673,15mi 	 Done
top  123  cities saved
12412 	 152438 	 124 	 Thornton 	 39.9205,-104.9443,15mi 	 Done
12487 	 153127 	 125 	 Colorado Springs 	 38.8674,-104.7606,15mi 	 Done
12602 	 153299 	 126 	 Lakewood 	 39.6977,-105.1168,15mi 	 Done
top  126  cities saved
12604 	 153348 	 127 	 Pueblo 	 38.2713,-104.6105,15mi 	 Done
12624 	 153393 	 128 	 Highlands Ranch 	 39.5419,-104.9708,15mi 	 Done
12630 	 153539 	 129 	 Greeley 	 40.4151,-104.7705,15mi 	 Done
top  129  cities saved
12664 	 153937 	 130 	 Boulder 	 40.0249,-105.2523,15mi 	 Done
12677 	 153937 	 131 	 Centennial 	 39.5926,-104.8674,15mi 	 Done
12786 	 153940 	 132 	 Arvada 	 39.8321,-105.1511,15mi 	 Done
top  132  cities saved
12817 	 154132 	 133 	 Fort Collins 	 40.5475,-105.0651,15mi 	 Done
12827 	 154132 	 134 	 Westminster 	 39.8837,-105.0624,15mi 	 Done
---------------------------------------- s= 22 state= AL ----------------------------------------
14439 	 155205 	 135 	 Birmingham 	 33.5277,-86.7987,15mi 	 Done
top  135  cities saved
14440 	 155517 	 136 	 Montgomery 	 32.3473,-86.2666,15mi 	 Done
14524 	 155723 	 137 	 Tuscaloosa 	 33.2348,-87.5266,15mi 	 Done
14684 	 156339 	 138 	 Mobile 	 30.6782,-88.1163,15mi 	 Done
top  138  cities saved
14867 	 156673 	 139 	 Huntsville 	 34.6988,-86.6412,15mi 	 Done
---------------------------------------- s= 23 state= AR ----------------------------------------
15025 	 156806 	 140 	 Fort Smith 	 35.3493,-94.3695,15mi 	 Done
15048 	 157903 	 141 	 Little Rock 	 34.7255,-92.35799999999999,15mi 	 Done
top  141  cities saved
15317 	 157935 	 142 	 Fayetteville 	 36.0713,-94.166,15mi 	 Done
---------------------------------------- s= 24 state= VT ----------------------------------------
15459 	 158124 	 143 	 Burlington 	 44.4877,-73.2314,15mi 	 Done
---------------------------------------- s= 25 state= IL ----------------------------------------
15532 	 158182 	 144 	 Aurora 	 41.7637,-88.2901,15mi 	 Done
top  144  cities saved
15560 	 158227 	 145 	 Round Lake Beach 	 42.379,-88.0811,15mi 	 Done
15578 	 158354 	 146 	 Rockford 	 42.2598,-89.0641,15mi 	 Done
15692 	 158586 	 147 	 Champaign 	 40.1144,-88.2735,15mi 	 Done
top  147  cities saved
15731 	 158990 	 148 	 Naperville 	 41.7483,-88.1657,15mi 	 Done
15817 	 159127 	 149 	 Bloomington 	 40.4757,-88.9703,15mi 	 Done
15928 	 159233 	 150 	 Springfield 	 39.771,-89.6537,15mi 	 Done
top  150  cities saved
16087 	 159364 	 151 	 Elgin 	 42.0385,-88.3229,15mi 	 Done

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2241.8373%2C-87.6862%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaKwL39vp3I7iMWhICzyejrs5EnEnEVrKh3FYCJehgHREVGQVVMVDUBFeABFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: non-200 status code, retrying
Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2241.8373%2C-87.6862%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAwL3p66mq3yMWhICzyejrs5EnEnEV8Jh3FYCJehgHREVGQVVMVDUBFeoBFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: non-200 status code, retrying

16289 	 171112 	 152 	 Chicago 	 41.8373,-87.6862,15mi 	 Done
16672 	 171163 	 153 	 Peoria 	 40.7521,-89.6155,15mi 	 Done
top  153  cities saved
16836 	 171172 	 154 	 Joliet 	 41.5189,-88.1499,15mi 	 Done
---------------------------------------- s= 26 state= GA ----------------------------------------
17000 	 171332 	 155 	 Columbus 	 32.51,-84.8771,15mi 	 Done
17091 	 171372 	 156 	 Macon 	 32.8065,-83.6974,15mi 	 Done
top  156  cities saved
17334 	 171552 	 157 	 Athens 	 33.9508,-83.3689,15mi 	 Done
17350 	 171601 	 158 	 Gainesville 	 34.2902,-83.8303,15mi 	 Done
17426 	 171622 	 159 	 Warner Robins 	 32.5975,-83.6526,15mi 	 Done
top  159  cities saved
17464 	 180444 	 160 	 Atlanta 	 33.7627,-84.4225,15mi 	 Done
17467 	 180722 	 161 	 Augusta 	 33.3645,-82.0708,15mi 	 Done
17475 	 181575 	 162 	 Savannah 	 32.0281,-81.1785,15mi 	 Done
top  162  cities saved
17476 	 182254 	 163 	 Sandy Springs 	 33.9366,-84.3703,15mi 	 Done
---------------------------------------- s= 27 state= IN ----------------------------------------
17579 	 182428 	 164 	 Elkhart 	 41.6912,-85.962,15mi 	 Done
17652 	 182428 	 165 	 Bloomington 	 39.1637,-86.5257,15mi 	 Done
top  165  cities saved
17789 	 182571 	 166 	 South Bend 	 41.6771,-86.2692,15mi 	 Done
17806 	 182783 	 167 	 Fort Wayne 	 41.0885,-85.1436,15mi 	 Done
17945 	 186023 	 168 	 Indianapolis 	 39.7771,-86.1458,15mi 	 Done
top  168  cities saved
18005 	 186142 	 169 	 Lafayette 	 40.399,-86.8593,15mi 	 Done
18072 	 186320 	 170 	 Evansville 	 37.9881,-87.5341,15mi 	 Done
---------------------------------------- s= 28 state= IA ----------------------------------------
18224 	 186403 	 171 	 Waterloo 	 42.492,-92.3522,15mi 	 Done
top  171  cities saved
18352 	 187147 	 172 	 Des Moines 	 41.5725,-93.6105,15mi 	 Done
18468 	 187343 	 173 	 Cedar Rapids 	 41.9667,-91.6781,15mi 	 Done
18910 	 187461 	 174 	 Sioux City 	 42.4959,-96.3901,15mi 	 Done
top  174  cities saved
18991 	 187768 	 175 	 Davenport 	 41.5563,-90.6052,15mi 	 Done
19117 	 188049 	 176 	 Iowa City 	 41.6559,-91.5304,15mi 	 Done
---------------------------------------- s= 29 state= MA ----------------------------------------
19203 	 194526 	 177 	 Boston 	 42.3188,-71.0846,15mi 	 Done
top  177  cities saved
19219 	 194590 	 178 	 Leominster 	 42.5209,-71.7717,15mi 	 Done
19236 	 195157 	 179 	 Springfield 	 42.1155,-72.5395,15mi 	 Done
19241 	 195287 	 180 	 Worcester 	 42.2705,-71.8079,15mi 	 Done
top  180  cities saved
19249 	 195367 	 181 	 New Bedford 	 41.6697,-70.9428,15mi 	 Done
19267 	 195523 	 182 	 Barnstable Town 	 41.6722,-70.3599,15mi 	 Done
19273 	 195651 	 183 	 Lowell 	 42.6389,-71.3217,15mi 	 Done
top  183  cities saved
19308 	 195837 	 184 	 Cambridge 	 42.3759,-71.1185,15mi 	 Done
---------------------------------------- s= 30 state= AZ ----------------------------------------
19334 	 198554 	 185 	 Avondale 	 33.3858,-112.3236,15mi 	 Done
19353 	 199643 	 186 	 Scottsdale 	 33.6872,-111.8651,15mi 	 Done
top  186  cities saved
19354 	 201111 	 187 	 Mesa 	 33.4017,-111.7181,15mi 	 Done
19365 	 201364 	 188 	 Surprise 	 33.68,-112.4524,15mi 	 Done
19374 	 201427 	 189 	 Gilbert 	 33.3103,-111.7463,15mi 	 Done
top  189  cities saved
19436 	 202475 	 190 	 Tucson 	 32.1545,-110.8782,15mi 	 Done
19443 	 202489 	 191 	 Phoenix 	 33.5722,-112.0891,15mi 	 Done
19512 	 202637 	 192 	 Yuma 	 32.5991,-114.5488,15mi 	 Done
top  192  cities saved
19625 	 202637 	 193 	 Chandler 	 33.2827,-111.8517,15mi 	 Done
19701 	 202637 	 194 	 Tempe 	 33.3881,-111.9318,15mi 	 Done
19708 	 202638 	 195 	 Peoria 	 33.7844,-112.29899999999999,15mi 	 Done
top  195  cities saved
19734 	 202639 	 196 	 Glendale 	 33.5797,-112.2258,15mi 	 Done
---------------------------------------- s= 31 state= ID ----------------------------------------
19904 	 202777 	 197 	 Nampa 	 43.5843,-116.5628,15mi 	 Done
19910 	 202857 	 198 	 Coeur d'Alene 	 47.70399999999999,-116.7933,15mi 	 Done
top  198  cities saved
19916 	 203264 	 199 	 Boise 	 43.6007,-116.2312,15mi 	 Done
---------------------------------------- s= 32 state= CT ----------------------------------------
20009 	 203314 	 200 	 Bridgeport 	 41.1918,-73.1953,15mi 	 Done
20010 	 203623 	 201 	 Stamford 	 41.1035,-73.5583,15mi 	 Done
top  201  cities saved
20042 	 203832 	 202 	 Norwich 	 41.5495,-72.0882,15mi 	 Done
20060 	 204384 	 203 	 Hartford 	 41.7661,-72.6834,15mi 	 Done
20074 	 204453 	 204 	 Waterbury 	 41.5583,-73.0361,15mi 	 Done
top  204  cities saved
20096 	 204563 	 205 	 New Haven 	 41.3112,-72.9246,15mi 	 Done
20105 	 204580 	 206 	 Danbury 	 41.4016,-73.471,15mi 	 Done
---------------------------------------- s= 33 state= ME ----------------------------------------
20147 	 204983 	 207 	 Portland 	 43.6773,-70.2715,15mi 	 Done
top  207  cities saved
---------------------------------------- s= 34 state= MD ----------------------------------------
20259 	 205026 	 208 	 Salisbury 	 38.3755,-75.5867,15mi 	 Done
20475 	 207678 	 209 	 Baltimore 	 39.3051,-76.6144,15mi 	 Done
20521 	 207793 	 210 	 Hagerstown 	 39.6402,-77.7217,15mi 	 Done
top  210  cities saved
20583 	 207861 	 211 	 Frederick 	 39.4336,-77.4157,15mi 	 Done
20625 	 209018 	 212 	 Columbia 	 39.2004,-76.859,15mi 	 Done
---------------------------------------- s= 35 state= OK ----------------------------------------
20716 	 210065 	 213 	 Broken Arrow 	 36.0365,-95.7809,15mi 	 Done
top  213  cities saved
20832 	 210381 	 214 	 Norman 	 35.2335,-97.3471,15mi 	 Done
20983 	 211518 	 215 	 Oklahoma City 	 35.4676,-97.5137,15mi 	 Done
21235 	 211564 	 216 	 Tulsa 	 36.1284,-95.9043,15mi 	 Done
top  216  cities saved
---------------------------------------- s= 36 state= OH ----------------------------------------
21498 	 211913 	 217 	 Akron 	 41.0798,-81.5219,15mi 	 Done
21652 	 214169 	 218 	 Columbus 	 39.986,-82.9851,15mi 	 Done
21828 	 214312 	 219 	 Youngstown 	 41.0993,-80.6463,15mi 	 Done
top  219  cities saved
21842 	 214385 	 220 	 Canton 	 40.8076,-81.3678,15mi 	 Done
21959 	 214640 	 221 	 Lorain 	 41.4409,-82.184,15mi 	 Done
22002 	 216229 	 222 	 Cincinnati 	 39.1412,-84.506,15mi 	 Done
top  222  cities saved
22131 	 216606 	 223 	 Dayton 	 39.7797,-84.1998,15mi 	 Done
22161 	 217009 	 224 	 Toledo 	 41.6639,-83.5822,15mi 	 Done
22568 	 219376 	 225 	 Cleveland 	 41.4767,-81.6805,15mi 	 Done
top  225  cities saved
---------------------------------------- s= 37 state= UT ----------------------------------------
22660 	 219506 	 226 	 Provo 	 40.2457,-111.6457,15mi 	 Done
22667 	 221069 	 227 	 West Jordan 	 40.6024,-112.0008,15mi 	 Done
22697 	 221125 	 228 	 Logan 	 41.74,-111.8419,15mi 	 Done
top  228  cities saved
22698 	 221205 	 229 	 Salt Lake City 	 40.7774,-111.93,15mi 	 Done
22811 	 221313 	 230 	 St. George 	 37.077,-113.57700000000001,15mi 	 Done
22864 	 221313 	 231 	 West Valley City 	 40.6889,-112.0115,15mi 	 Done
top  231  cities saved
22929 	 221490 	 232 	 Ogden 	 41.228,-111.9677,15mi 	 Done
---------------------------------------- s= 38 state= MO ----------------------------------------
23011 	 223324 	 233 	 Independence 	 39.0871,-94.3503,15mi 	 Done
23117 	 223763 	 234 	 Kansas City 	 39.1239,-94.5541,15mi 	 Done
top  234  cities saved
23258 	 223930 	 235 	 Springfield 	 37.1943,-93.2915,15mi 	 Done
23638 	 226541 	 236 	 St. Louis 	 38.6358,-90.2451,15mi 	 Done
23891 	 226592 	 237 	 Columbia 	 38.9477,-92.3255,15mi 	 Done
top  237  cities saved
---------------------------------------- s= 39 state= MN ----------------------------------------
24002 	 229674 	 238 	 St. Paul 	 44.9477,-93.104,15mi 	 Done
24157 	 229850 	 239 	 Duluth 	 46.7757,-92.1392,15mi 	 Done
24417 	 230244 	 240 	 Minneapolis 	 44.9635,-93.2678,15mi 	 Done
top  240  cities saved
24542 	 230281 	 241 	 Rochester 	 44.0151,-92.4778,15mi 	 Done
24756 	 230350 	 242 	 St. Cloud 	 45.5339,-94.1718,15mi 	 Done
---------------------------------------- s= 40 state= MI ----------------------------------------
24893 	 230390 	 243 	 Ann Arbor 	 42.2755,-83.7312,15mi 	 Done
top  243  cities saved
24912 	 232231 	 244 	 Detroit 	 42.3834,-83.1024,15mi 	 Done
24939 	 232250 	 245 	 Sterling Heights 	 42.5809,-83.0305,15mi 	 Done
25038 	 232294 	 246 	 Muskegon 	 43.2281,-86.2562,15mi 	 Done
top  246  cities saved
25073 	 232374 	 247 	 Flint 	 43.0235,-83.6922,15mi 	 Done
25114 	 232428 	 248 	 Lansing 	 42.7142,-84.5601,15mi 	 Done
25270 	 232437 	 249 	 South Lyon 	 42.4614,-83.6526,15mi 	 Done
top  249  cities saved
25278 	 232894 	 250 	 Grand Rapids 	 42.9615,-85.6557,15mi 	 Done
25295 	 232978 	 251 	 Kalamazoo 	 42.2749,-85.5882,15mi 	 Done
25332 	 233023 	 252 	 Saginaw 	 43.4199,-83.9501,15mi 	 Done
top  252  cities saved
25410 	 234074 	 253 	 Warren 	 42.4934,-83.027,15mi 	 Done
25431 	 234138 	 254 	 Holland 	 42.7677,-86.0984,15mi 	 Done
---------------------------------------- s= 41 state= KS ----------------------------------------
25679 	 234196 	 255 	 Kansas City 	 39.1234,-94.7443,15mi 	 Done
top  255  cities saved
25736 	 234258 	 256 	 Olathe 	 38.8832,-94.8198,15mi 	 Done
25960 	 234278 	 257 	 Topeka 	 39.0346,-95.6955,15mi 	 Done
25976 	 234687 	 258 	 Wichita 	 37.6897,-97.3441,15mi 	 Done
top  258  cities saved
26090 	 234695 	 259 	 Overland Park 	 38.887,-94.68700000000001,15mi 	 Done
---------------------------------------- s= 42 state= MT ----------------------------------------
26297 	 234818 	 260 	 Billings 	 45.7889,-108.5509,15mi 	 Done
---------------------------------------- s= 43 state= MS ----------------------------------------
26618 	 235267 	 261 	 Gulfport 	 30.4271,-89.0703,15mi 	 Done
top  261  cities saved
26692 	 235422 	 262 	 Jackson 	 32.3163,-90.2124,15mi 	 Done
---------------------------------------- s= 44 state= PR ----------------------------------------
27048 	 239473 	 263 	 Bayamón 	 18.3793,-66.1635,15mi 	 Done
27069 	 239830 	 264 	 Carolina 	 18.4054,-65.9792,15mi 	 Done
top  264  cities saved
27111 	 239863 	 265 	 San Juan 	 18.4037,-66.0636,15mi 	 Done
27166 	 240333 	 266 	 Ponce 	 18.012,-66.6198,15mi 	 Done
---------------------------------------- s= 45 state= SC ----------------------------------------
27241 	 240524 	 267 	 North Charleston 	 32.9067,-80.0722,15mi 	 Done
top  267  cities saved
27330 	 241238 	 268 	 Charleston 	 32.8151,-79.96300000000001,15mi 	 Done
27411 	 241515 	 269 	 Greenville 	 34.8362,-82.3649,15mi 	 Done
27503 	 241547 	 270 	 Spartanburg 	 34.9437,-81.9256,15mi 	 Done
top  270  cities saved
27548 	 241556 	 271 	 Rock Hill 	 34.9413,-81.025,15mi 	 Done
27556 	 241557 	 272 	 Mauldin 	 34.7866,-82.2997,15mi 	 Done
27558 	 242100 	 273 	 Myrtle Beach 	 33.7096,-78.8842,15mi 	 Done
top  273  cities saved
27561 	 242360 	 274 	 Columbia 	 34.0376,-80.9037,15mi 	 Done
---------------------------------------- s= 46 state= KY ----------------------------------------
27640 	 242673 	 275 	 Louisville 	 38.1663,-85.6485,15mi 	 Done
27657 	 242699 	 276 	 Lexington 	 38.0423,-84.4587,15mi 	 Done
top  276  cities saved
---------------------------------------- s= 47 state= OR ----------------------------------------
28136 	 242752 	 277 	 Hillsboro 	 45.5272,-122.936,15mi 	 Done
28146 	 243020 	 278 	 Eugene 	 44.0563,-123.1173,15mi 	 Done
28312 	 243084 	 279 	 Gresham 	 45.5023,-122.4413,15mi 	 Done
top  279  cities saved
28317 	 243093 	 280 	 Salem 	 44.9232,-123.0245,15mi 	 Done
28359 	 243263 	 281 	 Medford 	 42.3372,-122.8537,15mi 	 Done
28361 	 243593 	 282 	 Portland 	 45.5371,-122.65,15mi 	 Done
top  282  cities saved
28376 	 243701 	 283 	 Bend 	 44.0562,-121.3087,15mi 	 Done
---------------------------------------- s= 48 state= SD ----------------------------------------
28664 	 243858 	 284 	 Sioux Falls 	 43.5397,-96.7321,15mi 	 Done
Done

In [8]:
df_us47_2.shape

(243858, 15)

In [9]:
#continue scraping CA TX FL
us47_3=['CA','TX','FL']
print(us47_3)

['CA', 'TX', 'FL']

In [10]:
j=285
s=49
for state in us47_3:
    print(20*'--','s=',s,'state=',state,20*'--')

    for i in df_Ci10K[df_Ci10K['state_id']==state].index:

        cood=str(df_Ci10K.loc[i,'lat'])+','+str(df_Ci10K.loc[i,'lng'])+','+str(within)   

        lat=df_Ci10K.loc[i,'lat']
        lng=df_Ci10K.loc[i,'lng']
        city=df_Ci10K.loc[i,'city']
        state_id=df_Ci10K.loc[i,'state_id'],
        state_name=df_Ci10K.loc[i,'state_name']
        cid=df_Ci10K.loc[i,'id']

        lst=[]

        for x, tweet in enumerate(sntwitter.TwitterSearchScraper('(airbnb) OR (hotel) OR (hostel) since:2019-01-01 until:2021-06-30 geocode:"{}"'.format(cood)).get_items()):
            if tweet.id not in df_us47_2['tweet.id'].values:

                lst=[{'url':tweet.url,
                      'date':tweet.date.strftime("%Y-%m-%d %H:%M"),
                      'content':tweet.content,
                      'tweet.id':tweet.id,
                      'tweet.username':tweet.username, 
                      'tweet.outlinks':tweet.outlinks,
                      'tweet.outlinksss':tweet.outlinksss,
                      'tweet.tcooutlinks':tweet.tcooutlinks,
                      'tweet.tcooutlinksss':tweet.tcooutlinksss,
                      'lat':lat,
                      'lng':lng,
                      'city':city,
                      'state_id':state_id,
                      'state_name':state_name,
                      'cid':cid}]
                
                df_us47_2=df_us47_2.append(lst)

        print(i,'\t',df_us47_2.shape[0],'\t',j,'\t',df_Ci10K.loc[i,'city'],'\t',cood,'\t','Done') 

        if (j/3).is_integer():

            df_us47_2.to_csv('text-airbnb+hotel+hostel-tweets_us_2.csv', sep=',', index=False)
            print('top ',j,' cities saved')

        j+=1
    s+=1

df_us47_2.to_csv('text-airbnb+hotel+hostel-tweets_us_2.csv', sep=',', index=False)
print('Done')

---------------------------------------- s= 49 state= CA ----------------------------------------
0 	 259614 	 285 	 Los Angeles 	 34.1139,-118.4068,15mi 	 Done
top  285  cities saved
2 	 259876 	 286 	 San Francisco 	 37.7562,-122.443,15mi 	 Done
3 	 264438 	 287 	 San Diego 	 32.8312,-117.1225,15mi 	 Done
4 	 264471 	 288 	 Riverside 	 33.9381,-117.3948,15mi 	 Done
top  288  cities saved
5 	 264800 	 289 	 Sacramento 	 38.5667,-121.4683,15mi 	 Done
6 	 264900 	 290 	 San Jose 	 37.3021,-121.8489,15mi 	 Done
7 	 265240 	 291 	 Fresno 	 36.7831,-119.7941,15mi 	 Done
top  291  cities saved
8 	 265254 	 292 	 Concord 	 37.9722,-122.0016,15mi 	 Done
9 	 265280 	 293 	 Mission Viejo 	 33.6095,-117.655,15mi 	 Done
10 	 265430 	 294 	 Bakersfield 	 35.353,-119.0359,15mi 	 Done
top  294  cities saved
11 	 265438 	 295 	 Murrieta 	 33.571999999999996,-117.1909,15mi 	 Done
12 	 265582 	 296 	 Long Beach 	 33.798,-118.1675,15mi 	 Done
13 	 266960 	 297 	 Oakland 	 37.7903,-122.2165,15mi 	 Done
top  297  cities saved
14 	 269019 	 298 	 Indio 	 33.7346,-116.2346,15mi 	 Done
16 	 269028 	 299 	 Stockton 	 37.9766,-121.3111,15mi 	 Done
17 	 269038 	 300 	 Oxnard 	 34.1962,-119.1819,15mi 	 Done
top  300  cities saved
18 	 269053 	 301 	 Modesto 	 37.6374,-121.0028,15mi 	 Done
19 	 269308 	 302 	 Anaheim 	 33.839,-117.8573,15mi 	 Done
20 	 269452 	 303 	 Lancaster 	 34.6934,-118.1753,15mi 	 Done
top  303  cities saved
21 	 269454 	 304 	 Victorville 	 34.5277,-117.3536,15mi 	 Done
22 	 269480 	 305 	 Santa Ana 	 33.7366,-117.8819,15mi 	 Done
23 	 269620 	 306 	 Santa Rosa 	 38.4458,-122.7067,15mi 	 Done
top  306  cities saved
24 	 269629 	 307 	 Santa Clarita 	 34.4155,-118.4992,15mi 	 Done
25 	 269634 	 308 	 Antioch 	 37.9789,-121.7957,15mi 	 Done
26 	 269684 	 309 	 Irvine 	 33.6772,-117.7738,15mi 	 Done
top  309  cities saved
27 	 272861 	 310 	 Chula Vista 	 32.6281,-117.0145,15mi 	 Done
28 	 274355 	 311 	 Fremont 	 37.5265,-121.9852,15mi 	 Done
29 	 274498 	 312 	 Visalia 	 36.3276,-119.3269,15mi 	 Done
top  312  cities saved
31 	 274498 	 313 	 Thousand Oaks 	 34.1914,-118.8755,15mi 	 Done
32 	 274604 	 314 	 San Bernardino 	 34.1417,-117.2945,15mi 	 Done
35 	 274721 	 315 	 Fontana 	 34.0968,-117.4599,15mi 	 Done
top  315  cities saved
36 	 274723 	 316 	 Moreno Valley 	 33.9244,-117.2045,15mi 	 Done
37 	 274729 	 317 	 Santa Barbara 	 34.4285,-119.7202,15mi 	 Done

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28airbnb%29+OR+%28hotel%29+OR+%28hostel%29+since%3A2019-01-01+until%3A2021-06-30+geocode%3A%2234.1818%2C-118.2468%2C15mi%22&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAwKvZxPqTyCUWgMCi4ab8o5EnEnEV5OB2FYCJehgHREVGQVVMVDUBFY4CFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ReadTimeout(ReadTimeoutError("HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=10)")), retrying

38 	 275291 	 318 	 Glendale 	 34.1818,-118.2468,15mi 	 Done
top  318  cities saved
39 	 275292 	 319 	 Huntington Beach 	 33.696,-118.0025,15mi 	 Done
41 	 275590 	 320 	 Salinas 	 36.6884,-121.6317,15mi 	 Done
42 	 275610 	 321 	 Santa Cruz 	 36.9789,-122.0346,15mi 	 Done
top  321  cities saved
43 	 275625 	 322 	 Rancho Cucamonga 	 34.1248,-117.5666,15mi 	 Done
44 	 275644 	 323 	 Hemet 	 33.7341,-116.9969,15mi 	 Done
45 	 275682 	 324 	 Oceanside 	 33.2247,-117.3083,15mi 	 Done
top  324  cities saved
46 	 275682 	 325 	 Ontario 	 34.0393,-117.6064,15mi 	 Done
48 	 275703 	 326 	 Garden Grove 	 33.7787,-117.9601,15mi 	 Done
49 	 275705 	 327 	 Vallejo 	 38.1133,-122.2359,15mi 	 Done
top  327  cities saved
50 	 275722 	 328 	 Elk Grove 	 38.416,-121.384,15mi 	 Done
51 	 275812 	 329 	 Corona 	 33.861999999999995,-117.5641,15mi 	 Done
53 	 275863 	 330 	 Hayward 	 37.6328,-122.0772,15mi 	 Done
top  330  cities saved
54 	 275863 	 331 	 Palmdale 	 34.5944,-118.1057,15mi 	 Done
55 	 275866 	 332 	 Sunnyvale 	 37.3836,-122.0257,15mi 	 Done
56 	 276006 	 333 	 Pomona 	 34.0585,-117.7626,15mi 	 Done
top  333  cities saved
57 	 276059 	 334 	 Escondido 	 33.1347,-117.0723,15mi 	 Done
58 	 276071 	 335 	 Fairfield 	 38.2594,-122.0319,15mi 	 Done
59 	 276071 	 336 	 Torrance 	 33.8346,-118.3417,15mi 	 Done
top  336  cities saved
61 	 276074 	 337 	 Merced 	 37.3057,-120.4779,15mi 	 Done
62 	 276074 	 338 	 Pasadena 	 34.1597,-118.139,15mi 	 Done
63 	 276074 	 339 	 Orange 	 33.8038,-117.8218,15mi 	 Done
top  339  cities saved
64 	 276079 	 340 	 Fullerton 	 33.8841,-117.9279,15mi 	 Done
65 	 276099 	 341 	 Santa Maria 	 34.9333,-120.4432,15mi 	 Done
66 	 276129 	 342 	 Roseville 	 38.7691,-121.3178,15mi 	 Done
top  342  cities saved
69 	 276165 	 343 	 Simi Valley 	 34.2663,-118.749,15mi 	 Done
70 	 276166 	 344 	 Santa Clara 	 37.3646,-121.96799999999999,15mi 	 Done
72 	 276167 	 345 	 East Los Angeles 	 34.0326,-118.1691,15mi 	 Done
top  345  cities saved
73 	 276218 	 346 	 Berkeley 	 37.8723,-122.27600000000001,15mi 	 Done
74 	 276352 	 347 	 Redding 	 40.5698,-122.365,15mi 	 Done
75 	 276400 	 348 	 Yuba City 	 39.1357,-121.6381,15mi 	 Done
top  348  cities saved
76 	 276465 	 349 	 Seaside 	 36.6224,-121.8191,15mi 	 Done
77 	 276549 	 350 	 Gilroy 	 37.0047,-121.5856,15mi 	 Done
78 	 276572 	 351 	 El Monte 	 34.0739,-118.0291,15mi 	 Done
top  351  cities saved
79 	 276591 	 352 	 Carlsbad 	 33.1247,-117.2837,15mi 	 Done
80 	 276618 	 353 	 Temecula 	 33.4928,-117.1315,15mi 	 Done
81 	 276763 	 354 	 Costa Mesa 	 33.6667,-117.9135,15mi 	 Done
top  354  cities saved
82 	 278373 	 355 	 Downey 	 33.9379,-118.1312,15mi 	 Done
83 	 278457 	 356 	 El Centro 	 32.7867,-115.5586,15mi 	 Done
84 	 278516 	 357 	 San Buenaventura 	 34.2741,-119.2314,15mi 	 Done
top  357  cities saved
85 	 278526 	 358 	 Inglewood 	 33.9566,-118.3444,15mi 	 Done
87 	 279013 	 359 	 Richmond 	 37.9477,-122.339,15mi 	 Done
88 	 279086 	 360 	 Clovis 	 36.8277,-119.6838,15mi 	 Done
top  360  cities saved
89 	 279086 	 361 	 West Covina 	 34.0555,-117.9112,15mi 	 Done
90 	 279091 	 362 	 Turlock 	 37.5053,-120.8587,15mi 	 Done
91 	 279093 	 363 	 Daly City 	 37.6863,-122.4684,15mi 	 Done
top  363  cities saved
92 	 279186 	 364 	 Chico 	 39.7575,-121.8152,15mi 	 Done
93 	 279210 	 365 	 Norwalk 	 33.9069,-118.0829,15mi 	 Done
94 	 280122 	 366 	 Jurupa Valley 	 34.001,-117.4706,15mi 	 Done
top  366  cities saved
95 	 282894 	 367 	 Burbank 	 34.1879,-118.3235,15mi 	 Done
96 	 283017 	 368 	 San Mateo 	 37.5522,-122.3122,15mi 	 Done
97 	 283265 	 369 	 El Cajon 	 32.8017,-116.9604,15mi 	 Done
top  369  cities saved
98 	 283268 	 370 	 Rialto 	 34.1175,-117.3894,15mi 	 Done
99 	 283282 	 371 	 Vista 	 33.1896,-117.2386,15mi 	 Done
101 	 283302 	 372 	 Vacaville 	 38.359,-121.96799999999999,15mi 	 Done
top  372  cities saved
---------------------------------------- s= 50 state= TX ----------------------------------------
4201 	 283525 	 373 	 Brownsville 	 25.998,-97.4565,15mi 	 Done
4221 	 283691 	 374 	 McKinney 	 33.2016,-96.6669,15mi 	 Done
4224 	 283722 	 375 	 Texas City 	 29.4128,-94.9658,15mi 	 Done
top  375  cities saved
4239 	 284082 	 376 	 College Station 	 30.5852,-96.296,15mi 	 Done
4322 	 287746 	 377 	 Round Rock 	 30.5254,-97.6659,15mi 	 Done
4348 	 288040 	 378 	 McAllen 	 26.2273,-98.2471,15mi 	 Done
top  378  cities saved
4437 	 288094 	 379 	 Pearland 	 29.5585,-95.3215,15mi 	 Done
4444 	 296392 	 380 	 Irving 	 32.8584,-96.9702,15mi 	 Done
4464 	 297798 	 381 	 Dallas 	 32.7936,-96.7662,15mi 	 Done
top  381  cities saved
4478 	 298251 	 382 	 El Paso 	 31.8479,-106.4309,15mi 	 Done
4490 	 298326 	 383 	 Denton 	 33.2176,-97.1419,15mi 	 Done
4497 	 298477 	 384 	 Amarillo 	 35.1989,-101.831,15mi 	 Done
top  384  cities saved
4573 	 298532 	 385 	 Pasadena 	 29.6584,-95.1499,15mi 	 Done
4576 	 301720 	 386 	 San Antonio 	 29.4658,-98.5254,15mi 	 Done
4581 	 302340 	 387 	 Garland 	 32.91,-96.6305,15mi 	 Done
top  387  cities saved
4673 	 303085 	 388 	 Grand Prairie 	 32.687,-97.0209,15mi 	 Done
4687 	 303130 	 389 	 Longview 	 32.5192,-94.7622,15mi 	 Done
4689 	 303456 	 390 	 Lubbock 	 33.5642,-101.8871,15mi 	 Done
top  390  cities saved
4705 	 303468 	 391 	 Killeen 	 31.0755,-97.7297,15mi 	 Done
4714 	 303476 	 392 	 Beaumont 	 30.085,-94.1451,15mi 	 Done
4786 	 303514 	 393 	 Mesquite 	 32.7623,-96.5889,15mi 	 Done
top  393  cities saved
4788 	 304087 	 394 	 Allen 	 33.1088,-96.6735,15mi 	 Done
4868 	 304546 	 395 	 Corpus Christi 	 27.7261,-97.3755,15mi 	 Done
4869 	 304764 	 396 	 Odessa 	 31.8831,-102.3406,15mi 	 Done
top  396  cities saved
4895 	 304827 	 397 	 Port Arthur 	 29.8554,-93.9264,15mi 	 Done
4903 	 305027 	 398 	 Lewisville 	 33.0452,-96.9823,15mi 	 Done
4933 	 305131 	 399 	 Carrollton 	 32.989000000000004,-96.8999,15mi 	 Done
top  399  cities saved
5133 	 305145 	 400 	 Plano 	 33.0502,-96.7487,15mi 	 Done
5207 	 305280 	 401 	 Arlington 	 32.6998,-97.1251,15mi 	 Done
5241 	 305321 	 402 	 Harlingen 	 26.1916,-97.6976,15mi 	 Done
top  402  cities saved
5248 	 305466 	 403 	 Frisco 	 33.1554,-96.8217,15mi 	 Done
5333 	 305577 	 404 	 Abilene 	 32.4543,-99.7384,15mi 	 Done
5377 	 305580 	 405 	 Temple 	 31.1076,-97.3894,15mi 	 Done
top  405  cities saved
5553 	 312362 	 406 	 Houston 	 29.7869,-95.3905,15mi 	 Done
5566 	 312476 	 407 	 Tyler 	 32.3184,-95.3065,15mi 	 Done
5595 	 312517 	 408 	 The Woodlands 	 30.1738,-95.5134,15mi 	 Done
top  408  cities saved
5600 	 313194 	 409 	 Austin 	 30.3006,-97.7517,15mi 	 Done
5711 	 313198 	 410 	 Midland 	 32.0249,-102.1137,15mi 	 Done
5724 	 313207 	 411 	 League City 	 29.4874,-95.1087,15mi 	 Done
top  411  cities saved
5800 	 313227 	 412 	 Fort Worth 	 32.7812,-97.3472,15mi 	 Done
5814 	 313369 	 413 	 Waco 	 31.5597,-97.1882,15mi 	 Done
5820 	 313488 	 414 	 Laredo 	 27.5617,-99.4874,15mi 	 Done
top  414  cities saved
5849 	 313489 	 415 	 Richardson 	 32.9717,-96.7092,15mi 	 Done
---------------------------------------- s= 51 state= FL ----------------------------------------
2022 	 326116 	 416 	 Miami 	 25.7839,-80.2102,15mi 	 Done
2023 	 328546 	 417 	 Tampa 	 27.9942,-82.4451,15mi 	 Done
top  417  cities saved
2024 	 333267 	 418 	 Orlando 	 28.4772,-81.3369,15mi 	 Done
2025 	 333639 	 419 	 Jacksonville 	 30.3322,-81.6749,15mi 	 Done
2026 	 333716 	 420 	 Sarasota 	 27.3386,-82.54299999999999,15mi 	 Done
top  420  cities saved
2027 	 333994 	 421 	 Cape Coral 	 26.6445,-81.9955,15mi 	 Done
2028 	 334038 	 422 	 Palm Bay 	 27.955,-80.6628,15mi 	 Done
2029 	 334213 	 423 	 Port St. Lucie 	 27.2796,-80.3884,15mi 	 Done
top  423  cities saved
2030 	 334257 	 424 	 Palm Coast 	 29.5392,-81.24600000000001,15mi 	 Done
2031 	 334331 	 425 	 Bonita Springs 	 26.3559,-81.7861,15mi 	 Done
2032 	 334381 	 426 	 Kissimmee 	 28.3042,-81.4164,15mi 	 Done
top  426  cities saved
2033 	 334599 	 427 	 Pensacola 	 30.4427,-87.1886,15mi 	 Done
2034 	 334605 	 428 	 Lakeland 	 28.0557,-81.9545,15mi 	 Done
2035 	 335670 	 429 	 St. Petersburg 	 27.793000000000003,-82.6652,15mi 	 Done
top  429  cities saved
2036 	 336107 	 430 	 Tallahassee 	 30.4551,-84.2527,15mi 	 Done
2037 	 336163 	 431 	 Winter Haven 	 28.0118,-81.7017,15mi 	 Done
2038 	 337944 	 432 	 Hialeah 	 25.8696,-80.3046,15mi 	 Done
top  432  cities saved
2039 	 338095 	 433 	 Gainesville 	 29.6804,-82.3458,15mi 	 Done
2040 	 338263 	 434 	 North Port 	 27.0577,-82.1975,15mi 	 Done
2041 	 338311 	 435 	 Deltona 	 28.905,-81.2136,15mi 	 Done
top  435  cities saved
2042 	 342226 	 436 	 Fort Lauderdale 	 26.1412,-80.1464,15mi 	 Done
2043 	 342323 	 437 	 Pembroke Pines 	 26.0128,-80.3382,15mi 	 Done
2044 	 342441 	 438 	 Ocala 	 29.178,-82.1511,15mi 	 Done
top  438  cities saved
2045 	 342441 	 439 	 Hollywood 	 26.0294,-80.1679,15mi 	 Done
2046 	 342519 	 440 	 Leesburg 	 28.7658,-81.8995,15mi 	 Done
2047 	 342674 	 441 	 Panama City 	 30.1995,-85.6003,15mi 	 Done
top  441  cities saved
2048 	 342732 	 442 	 Miramar 	 25.9773,-80.3351,15mi 	 Done
2049 	 343177 	 443 	 Coral Springs 	 26.2702,-80.2591,15mi 	 Done
2050 	 343231 	 444 	 Lehigh Acres 	 26.612,-81.6388,15mi 	 Done
top  444  cities saved
2051 	 343314 	 445 	 Clearwater 	 27.9788,-82.7624,15mi 	 Done
2052 	 343560 	 446 	 Miami Gardens 	 25.9433,-80.2426,15mi 	 Done
2053 	 343980 	 447 	 Brandon 	 27.9367,-82.3,15mi 	 Done
top  447  cities saved
2054 	 344213 	 448 	 Pompano Beach 	 26.2428,-80.1312,15mi 	 Done
2055 	 344633 	 449 	 West Palm Beach 	 26.7469,-80.1316,15mi 	 Done
2056 	 344638 	 450 	 Davie 	 26.0789,-80.28699999999999,15mi 	 Done
top  450  cities saved
2057 	 344705 	 451 	 Spring Hill 	 28.4797,-82.53,15mi 	 Done
Done

['TX', 'FL']